html {
    background: #161626;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.logo {
    width: 10rem;
}
.navbar {
    background: #000000;
}
.nav-link {
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Lora', serif;
}
.navbar-toggler-icon {
    background-image: url(toggle-icon.png);
}
.row {
    height: 45vw;
}
.logo-container {
    position: relative;
    width: 100vw;
    text-align: center;
    top: 7vw;
}
.sub-heading {
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 1.5vw;
    position: relative;
}
.content-container {
    position: relative;
    width: 100vw;
    text-align: center;
    top: 20vw;
}
.heading {
    font-size: 5vw;
    color: #fff;
    font-family: 'Lora', serif;
}
.divider {
    background: #fff;
    width: 25vw;
    height: 0.1vw;
}
.about-season {
    background: #161626;
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 1em;
    padding-left: 15vw;
    padding-top: 3vw;
    padding-bottom: 2vw;
    padding-right: 10vw;
}
.link-tag {
    margin-left: 32vw;
    font-size: 1em;
    font-family: 'Lora';
}
.creater-content {
    width: 72vw;
    margin-top: 1vw;
}
.creator-heading {
    color: #ccc6a4;
    font-family: 'Lora';
    text-align: center;
    font-size: 2.5em;
    position: relative;
}
.creator-heading-text {
    color: #ccc6a4;
    font-family: 'Lora';
    font-size: 1.2em;
    margin-top: 1.5em;
}
.creator-para-text {
    color: #fff;
    font-family: 'Lora';
    font-size: 1.2em;
    margin-top: 20px;
}
.creator-section {
    height: 48em;
}
.col-md-4 {
    margin-top: 30px;
}
.card-head {
    color: #ccc6a4;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    font-family: 'Lora';
    font-size: 1.5em;
}
.box {
    width: 93.5%;
    height: 100px;
    position: absolute;
    margin-top: -100px;
    box-shadow: 0px -80px 20px #020202b8 inset;
}
.card-name {
    color: #fff;
    margin-left: 10px;
    margin-top: -20px;
    font-family: 'Lora';
    font-size: 1em;
}
.footer-image {
    margin-left: -400px;
    width: 120em;
    height: 70vh;
    filter: blur(40px);
    margin-top: 20px;
}
.footer-grid {
    height: 0vw;
}
.footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    list-style: none;
}
.footer-navigation a{
    color: white;
    font-size: 1.5em;
    font-family: 'Lora';
}
